replicaCount: 2

image:
  repository: rizkyprawira/myweb
  tag: 1.0.2
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 3000
  nodePort: 30080

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

env:
  NODE_ENV: "production"

livenessProbe:
  path: /
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  path: /
  initialDelaySeconds: 10
  periodSeconds: 5

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70